src/program/task1/Files/validation.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="dataList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element  name="data" type="data" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="data">
        <xsd:sequence>
            <xsd:element name="x" type="xsd:double"/>
            <xsd:element name="y" type="xsd:double"/>
        </xsd:sequence>
        <xsd:attribute name="date" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
</xsd:schema>